.time {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.time-text {
  color: white;
  font-family: monospace;
  font-size: 4.5rem;
}

.custom-button {
  color: white;
  padding: 5px 0px;
  border-radius: 100%;
  border: 1px outset rgba($color: white, $alpha: 0.1);
  background-color: #1e2140;
  box-shadow: 3px 4px 0px 0px #fa6c6c;
  &:hover {
    background-color: rgba($color: white, $alpha: 0.15);
  }
}
.icon {
  stroke: #000000;
  stroke-width: 2;
  color: rgba(250, 108, 108, 1);

  &:hover {
    cursor: pointer;
    color: rgba(250, 108, 108, 0.8);
  }
}
